@font-face {
    font-family: 'futura';
    src: url('../fonts/Futura.ttc') format('truetype');
}

html {
  font-family: 'futura', sans-serif;
  color: #58595B;
}

body {
  background-color: white;
}

p, ol, li {
  font-size: 1.1rem;
  line-height: 1.2;
}

.blueheader {
  height: 3.5rem;
}

@media only screen and (max-width: 1051px) {
  .blueheader {
    height: 3rem;
  }
  p, ol, li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 913px) {
  .blueheader {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 547px) {
  .blueheader {
    height: 2rem;
  }
  p, ol, li {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 456px) {
  .blueheader {
    height: 1.75rem;
  }
}
@media only screen and (max-width: 382px) {
  .blueheader {
    height: 1.6rem;
  }
}
@media only screen and (max-width: 332px) {
  .blueheader {
    height: 1.5rem;
  }
}
@media only screen and (max-width: 313px) {
  .blueheader {
    height: 1.4rem;
  }
}
.article a:link,
.article a:visited,
.article a:active {
  color: white;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

/* Engagement-Why */
.engagement-why {
  background: linear-gradient(#99D1F4, #fff);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.engagement-why-text {
  width: 75%;
  padding: 2rem 1.5rem 2rem 15rem;
}

.engagement-why-image {
  width: 25%;
  padding-right: 15rem;
}

.engagement-why-image img {
  height: 15rem;
}

.engagement-why-text p {
  color: #008CE3;
  font-weight: 600;
  margin-top: 1.5rem;
}

.engagement-why-text ol li {
  font-weight: 600;
  margin-top: 1.5rem;
  color: #BED63A;
}

.engagement-why-text ol {
  list-style-type: decimal;
  margin-left: 3rem;
}

.engagement-why-text ol li:first-child {
  color: #E76E34;
}

.engagement-why-text ol li:last-child {
  color: #57B6DD;
}
.engagement-why a:link,
.engagement-why a:visited,
.engagement-why a:active {
  color: #008CE3;
  text-decoration: none;
}

.engagement-why a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1320px) {
  .engagement-why-text {
    padding-left: 11rem;
  }
  .engagement-why-image {
    padding-right: 11rem;
  }
}

@media only screen and (max-width: 1150px) {
  .engagement-why-text {
    padding-left: 5rem;
  }
  .engagement-why-image {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .engagement-why-text {
    padding-left: 3rem;
  }
  .engagement-why-image {
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .engagement-why-text {
    width: 100%;
    padding-right: 3rem;
  }
  .engagement-why-image {
    display: none;
  }
}

@media only screen and (max-width: 547px) {
  .engagement-why-text {
    padding: 1.5rem;
  }
}


/* Establishing Routines */
.routines {
  background-color: #E76E34;
}

.routines .blueheader {
  padding-left: 15rem;
  padding-top: 3rem;
}

.routines-container {
  color: white;
  padding: 1.5rem 15rem 3rem 15rem;
}

.routines-container ul {
  margin: 1.5rem 0;
  padding-left: 3rem;
}
.routines-container ul li {
  line-height: 2.8;
  list-style-image:url("../images/MSE/Tick20px.png");
}

.routines-container ul li span {
  color: #008CE3;
  font-weight: bolder;
  font-size: 1.5rem;
}

.routines-container img {
  float: right;
  height: 22rem;
  padding: 1rem 1rem 1rem 1rem;
}
@media only screen and (max-width: 1320px) {
  .routines .blueheader,
  .routines-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .routines .blueheader,
  .routines-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .routines-container img {
    height: 20rem;
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .routines-container img {
    height: 18rem;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 871px) {
  .routines .blueheader,
  .routines-container {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 808px) {
  .routines-container img {
    display: none;
  }
}

@media only screen and (max-width: 547px) {
  .routines .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .routines-container {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}

/* Instructions */
.instructions {
  background-color: #BED63A;
}

.instructions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15rem 0 10rem;
}

.instructions-left {
  width: 50%;
  margin-bottom: -3px;
  align-self: flex-end;
}

.instructions-left img {
  height: 19rem;
}

#teacher-mob,
#teacher-mob-2 {
  display: none;
}

.instructions-right {
  color: white;
  width: 50%;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

.instructions-right p {
  margin-top: 1rem;
}

.instructions-right span {
  color: #008CE3;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .instructions-container {
    padding: 3rem 15rem 0 15rem;
  }
  .instructions-left {
    width: 40%;
  }
  .instructions-left img {
    display: none;
  }

  #teacher-mob {
    display:inline;
    padding-right: 1rem;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (max-width: 1251px) {
  .instructions-right {
    width: 60%;
  }
}
@media only screen and (max-width: 1320px) {
  .instructions-container {
   padding: 3rem 11rem 0 11rem;
 }
}
@media only screen and (max-width: 1150px) {
  .instructions-container {
   padding: 3rem 5rem 0 5rem;
 }
}
@media only screen and (max-width: 1064px) {
  .instructions-left {
    width: 45%;
  }
  .instructions-right {
    width: 55%;
  }
}

@media only screen and (max-width: 950px) {
  .instructions-container {
    align-items: flex-end;
  }
  .instructions-left {
    width: 50%;
  }
  .instructions-right {
    align-self: center;
    width: 50%;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 871px) {
  .instructions-container {
   padding: 3rem 3rem 0 3rem;
 }
}

@media only screen and (max-width: 856px) {
  .instructions-container {
    padding: 1.5rem;
  }
  .instructions-left {
    width: 20%;
    margin-bottom: 0;
    align-self: center;
  }
  #teacher-mob {
    display: none;
  }
  #teacher-mob-2 {
    display: block;
  }
  .instructions-right {
    width: 80%;
    padding-right: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 766px) {
  .instructions-container {
   padding: 2rem 1.5rem 0 1.5rem;
 }
 #teacher-mob-2 {
   height: 15rem;
 }
 }
 @media only screen and (max-width: 556px) {
   .instructions-left {
     display: none;
   }
   .instructions-right {
     width: 100%;
     padding-left: 0;
     margin-left: 0;
  }
}

/* Planning for Progression */

.progression {
  background-color: #57B6DD;
}

.progression-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 2rem 15rem;
}

.progression-left {
  color: white;
  width: 60%;
}

.progression-left p {
  margin-top: 1rem;
}

.progression-right {
  width: 40%;
  margin-bottom: 1rem;
  text-align: center;
}

.progression-right img {
  height: 14rem;
}

strong {
  font-weight: bolder;
}

.orange {
  color: #E76E34;
  font-weight: bold;
}

.green {
  color: #BED63A;
  font-weight: bold;
}

.grey {
  color: #59595B;
  font-weight: bold;
}

.navy {
  color: #00336B;
  font-weight: bold;
}

.lightblue {
  color: #57B6DD;
  font-weight: bold;
}
@media only screen and (max-width: 1320px) {
  .progression-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .progression-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1074px) {
  .progression-right img {
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .progression-right img {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 871px) {
  .progression-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 856px) {
  .progression-container {
    padding: 1.5rem;
  }
  .progression-left {
    width: 100%;
  }
  .progression-right {
    display: none;
  }
}


/* Conclusion */
.conclusion {
  background-color: #008CE3;

}

.conclusion-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 2rem 15rem;
  align-items: flex-start;
}

.conclusion-left {
  width: 60%;
  align-self: center;
}

#clock-desk {
  height: 14rem;
}

#clock-mob {
  display: none;
}
#clock-tab {
  display: none;
}
#tablet-text {
  display: none;
}

.conclusion-right {
  color: white;
  width: 40%;
  margin-left: 1rem;
}

.conclusion-right p {
  margin-top: 1rem;
}


@media only screen and (max-width: 1467px) {
  .conclusion-container {
    align-items: flex-start;
  }
  .conclusion-left {
    width: 30%;
  }
  #clock-desk {
    display: none;
  }
  #clock-tab {
    display: flex;
    height: 12rem;
    padding-top: 0;
  }

  #tablet-text {
    display: block;
    background-color: white;
    color: grey;
    padding: 0.5rem;
  }
  .conclusion-right{
    width: 70%;
    }
}
@media only screen and (max-width: 1320px) {
  .conclusion-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .conclusion-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .conclusion-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 856px) {
  .conclusion-left {
    width: 35%;
  }
  .conclusion-right {
    width: 65%;
  }
}

@media only screen and (max-width: 714px) {
  .conclusion-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

  }
  .conclusion-left {
    width: 100%;
    order: 2;
  }
  #clock-desk {
    display: block;
    height: 13rem;
    margin: 1rem auto;
  }
  #clock-tab {
    display: none;
  }
  #tablet-text {
    display: none;
  }
  .conclusion-right {
    width: 100%;
    margin-left: 0;
    order: 1;
  }
}

@media only screen and (max-width: 613px) {
  #clock-desk {
    height: 11rem;
  }
}

@media only screen and (max-width: 510px) {
  #clock-desk {
    height: 9rem;
  }
}

@media only screen and (max-width: 433px) {
  #clock-desk {
    display: none;
  }
  #clock-mob {
    display: block;
    margin: 1rem auto;
    height: 20rem;
  }
}

/* References */
.references {
  padding: 3rem 16rem;
}

.references h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.references ol {
  list-style-type: decimal;
}

.references ol li {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1320px) {
  .references {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
@media only screen and (max-width: 1150px) {
  .references {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .references {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
