@font-face {
    font-family: 'futura';
    src: url('../fonts/Futura.ttc') format('truetype');
}

html {
  font-family: 'futura', sans-serif;
  color: #58595B;
}

body {
  background-color: white;
}

p, ol, li {
  font-size: 1.1rem;
  line-height: 1.2;
}

.blueheader {
  height: 3.5rem;
}
.blueheader-small {
  display: none;
}

@media only screen and (max-width: 1189px) {
  .blueheader {
    height: 3.25rem;
  }
}

@media only screen and (max-width: 1094px) {
  .blueheader {
    height: 3rem;
  }
  p, ol, li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 964px) {
  .blueheader {
    height: 2.65rem;
  }
}

@media only screen and (max-width: 871px) {
  .blueheader {
    display: none;
  }
  .blueheader-small {
    display: block;
    height: 2.75rem;
    padding-top: 1rem;
    padding-left: 3rem;
  }
}
@media only screen and (max-width: 766px) {
  .blueheader-small {
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 623px) {
  .blueheader-small {
    height: 2.5rem;
  }
}
@media only screen and (max-width: 547px) {
  p, ol, li {
    font-size: 0.85rem;
  }
  .blueheader-small {
    height: 2.25rem;
  }
}

@media only screen and (max-width: 476px) {
  .blueheader-small {
    height: 2.1rem;
  }
}
@media only screen and (max-width: 439px) {
  .blueheader-small {
    height: 2rem;
  }
}
@media only screen and (max-width: 426px) {
  .blueheader-small {
    height: 1.7rem;
  }
}
.article p a:link,
.article p a:visited,
.article p a:active {
  color: white;
  text-decoration: none;
}

.article p a:hover {
  text-decoration: underline;
}

/* Teaching Models - Why */
.teaching-models-why {
  background: linear-gradient(#99D1F4, #fff);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 15rem;
}

.teaching-models-why-text {
  width: 60%;
  padding: 2rem 1.5rem 2rem 15rem;
}

.teaching-models-why-image {
  width: 25%;
}

.teaching-models-why-image img {
  height: 14rem;
  margin-top: 4rem;
}

.teaching-models-why-text p {
  color: #008CE3;
  font-weight: 600;
  margin-top: 1.5rem;
}

.teaching-models-why-text ol li {
  font-weight: 600;
  margin-top: 1rem;
}

.teaching-models-why-text ol {
  list-style-type: decimal;
  margin-left: 3rem;
}

.teaching-models-why-text ol li:first-child {
  color: #DC2C34;
}
ol li:first-child a:link,
ol li:first-child a:visited,
ol li:first-child a:active {
 color: #DC2C34;
 text-decoration: none;
}

ol li:first-child a:hover {
 color: #DC2C34;
 text-decoration: underline;
}

.teaching-models-why-text ol li:nth-child(2) {
  color: #2F469D;
}
ol li:nth-child(2) a:link,
ol li:nth-child(2) a:visited,
ol li:nth-child(2) a:active {
 color: #2F469D;
 text-decoration: none;
}

ol li:nth-child(2) a:hover {
 color: #2F469D;
 text-decoration: underline;
}

.teaching-models-why-text ol li:nth-child(3) {
  color: #E76E34;
}

ol li:nth-child(3) a:link,
ol li:nth-child(3) a:visited,
ol li:nth-child(3) a:active {
 color: #E76E34;
 text-decoration: none;
}

ol li:nth-child(3) a:hover {
 color: #E76E34;
 text-decoration: underline;
}

.teaching-models-why-text ol li:nth-child(4) {
  color: #7BC370;
}

ol li:nth-child(4) a:link,
ol li:nth-child(4) a:visited,
ol li:nth-child(4) a:active {
 color: #7BC370;
 text-decoration: none;
}

ol li:nth-child(4) a:hover {
 color: #7BC370;
 text-decoration: underline;
}

.teaching-models-why-text ol li:last-child {
  color: #57B6DD;
}

ol li:last-child a:link,
ol li:last-child a:visited,
ol li:last-child a:visited,
ol li:last-child a:active {
 color: #57B6DD;
 text-decoration: none;
}

ol li:last-child a:hover {
 color: #57B6DD;
 text-decoration: underline;
}

@media only screen and (max-width: 1320px) {
  .teaching-models-why {
    padding-right: 11rem;
  }
  .teaching-models-why-text {
    padding: 2rem 1.5rem 2rem 11rem;
  }

  .teaching-models-why-image {
    width: 25%;
  }
}

@media only screen and (max-width: 1150px) {
  .teaching-models-why {
    padding-right: 5rem;
  }
  .teaching-models-why-text {
    padding-left: 5rem;
  }
}
@media only screen and (max-width: 960px) {
  .teaching-models-why-image img {
    height: 11rem;
  }
}

@media only screen and (max-width: 871px) {
  .teaching-models-why .blueheader-small {
    padding-left: 0;
  }
  .teaching-models-why {
    padding-right: 3rem;
  }
  .teaching-models-why-text {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 778px) {
  .teaching-models-why {
    padding-right: 1.5rem;
  }
  .teaching-models-why-text {
    width: 100%;
    padding-left: 1.5rem;
  }
  .teaching-models-why-image {
    display: none;
  }
}

@media only screen and (max-width: 547px) {
  .teaching-models-why-text {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 399px) {
    .teaching-models-why {
      padding: 0;
    }
}


/* Traditional */
.traditional .blueheader {
  padding-left: 15rem;
  padding-top: 3rem;
}

.traditional-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 0 15rem;
}

.traditional-left {
  background-color: #DC2C34;
  width: 18rem;
  color: white;
  padding: 1.25rem;
  height: 33rem;
}
.traditional-left p {
  line-height: 1.5;
}

.traditional-right {
  flex-basis: 60%;
  flex-grow: 2;
  padding-bottom: 2rem;
}

#traditional-diagram {
  display: block;
  height: 35rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1320px) {
.traditional .blueheader {
  padding-left: 11rem;
}

.traditional-container {
  padding: 3rem 11rem 0 11rem;
}
}

@media only screen and (max-width: 1150px) {
.traditional .blueheader {
  padding-left: 5rem;
}
.traditional-container {
    padding-left: 5rem;
    padding-right: 5rem;
}
}
@media only screen and (max-width: 1094px) {
  .traditional-container {
    display: block;
  }
  .traditional-left {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
  }
  .traditional-right {
    width: 100%;
  }
}
@media only screen and (max-width: 871px) {
.traditional .blueheader {
    padding-left: 3rem;
}
.traditional-container {
    padding-left: 3rem;
    padding-right: 3rem;
}
}
@media only screen and (max-width: 766px) {
.traditional .blueheader {
    padding-left: 1.5rem;
}
.traditional-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 749px) {
  #traditional-diagram {
    height: 31rem;
  }
}

@media only screen and (max-width: 601px) {
  #traditional-diagram {
    height: 27rem;
  }
}

@media only screen and (max-width: 508px) {
  #traditional-diagram {
    height: 23rem;
  }
}
@media only screen and (max-width: 412px) {
  #traditional-diagram {
    height: 19rem;
  }
}

/* TGfU */
.tgfu {
  background-color: #f7f4f1;
}

.tgfu .blueheader {
  padding-left: 15rem;
  padding-top: 3rem;
}

.tgfu-container {
  display: flex;
  justify-content: center;
  padding: 3rem 15rem 2rem 15rem;
}

.tgfu-left {
  width: 60%;
  padding-bottom: 2rem;
}

#tgfu-diagram {
  display: block;
  height: 36rem;
  margin: 0 auto;
}

.tgfu-right {
  background-color: #2F469D;
  width: 22rem;
  color: white;
  padding: 1.25rem;
  height: 35rem;
}
.tgfu-right p {
  line-height: 1.5;
}

@media only screen and (max-width: 1320px) {
  .tgfu .blueheader {
    padding-left: 11rem;
  }

  .tgfu-container {
    padding: 3rem 11rem 2rem 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .tgfu .blueheader {
  padding-left: 5rem;
  }
  .tgfu-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 1094px) {
  .tgfu-container {
    display: block;
  }
  .tgfu-left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .tgfu-right {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 871px) {
  .tgfu .blueheader {
    padding-left: 3rem;
  }
  .tgfu-container  {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 766px) {
  .tgfu .blueheader {
    padding-left: 1.5rem;
  }
  .tgfu-container  {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 749px) {
  #tgfu-diagram {
    height: 32rem;
  }
}

@media only screen and (max-width: 601px) {
  #tgfu-diagram {
    height: 28rem;
  }
}

@media only screen and (max-width: 508px) {
  #tgfu-diagram {
    height: 24rem;
  }
}

@media only screen and (max-width: 419px) {
  #tgfu-diagram {
    height: 19rem;
  }
}
@media only screen and (max-width: 365px) {
  #tgfu-diagram {
    height: 17rem;
  }
}

/* Game Sense */
.gamesense .blueheader {
  padding-left: 15rem;
  padding-top: 3rem;
}

.gamesense-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 0 15rem;
}

.gamesense-left {
  background-color: #D86C1C;
  width: 16rem;
  color: white;
  padding: 1.25rem;
  height: 33rem;
}
.gamesense-left p {
  line-height: 1.5;
}

.gamesense-right {
  width: 60%;
  padding-bottom: 2rem;
}

#gamesense-diagram {
  display: block;
  height: 35rem;
}

.gamesense-below {
  background-color: #D86C1C;
  color: white;
  padding: 1.25rem;
  margin: 1.5rem 15rem;
}

@media only screen and (max-width: 1320px) {
  .gamesense .blueheader {
    padding-left: 11rem;
  }

  .gamesense-container {
    padding: 3rem 11rem 0 11rem;
  }
  .gamesense-below {
    margin: 2rem 11rem;
}
}
@media only screen and (max-width: 1150px) {
  .gamesense .blueheader {
    padding-left: 5rem;
  }

  .gamesense-container {
    padding: 3rem 5rem 0 5rem;
  }
  .gamesense-below {
    margin: 2rem 5rem;
  }
}
@media only screen and (max-width: 1094px) {
  .gamesense-container {
    display: block;
  }
  .gamesense-left {
    width: auto;
    margin-bottom: 2rem;
    height: auto;
  }
  .gamesense-right {
    width: 100%;
    height: auto;
  }
  #gamesense-diagram {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 871px) {
  .gamesense .blueheader {
    padding-left: 3rem;
  }

  .gamesense-container {
    padding: 3rem 3rem 0 3rem;
  }
  .gamesense-below {
    margin: 2rem 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .gamesense .blueheader {
    padding-left: 1.5rem;
  }

  .gamesense-container {
    padding: 3rem 1.5rem 0 1.5rem;
  }
  .gamesense-below {
    margin: 2rem 1.5rem;
  }
}
@media only screen and (max-width: 749px) {
  #gamesense-diagram {
    height: 31rem;
  }
}

@media only screen and (max-width: 601px) {
  #gamesense-diagram {
    height: 27rem;
  }
}

@media only screen and (max-width: 508px) {
  #gamesense-diagram {
    height: 23rem;
  }
}
@media only screen and (max-width: 428px) {
  #gamesense-diagram {
    height: 19rem;
  }
}
@media only screen and (max-width: 365px) {
  #gamesense-diagram {
    height: 17rem;
  }
}

/* Cooperative Learning */
.cooperative {
  background-color: #f7f4f1;
  padding-bottom: 1rem;
}
.cooperative .blueheader {
  padding-left: 15rem;
  padding-top: 3rem;
}

.cooperative-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 0 15rem;
}

.cooperative-left {
  width: 60%;
  padding-bottom: 2rem;
}

#cooperative-diagram {
  display: block;
  height: 36rem;
  margin: 0 auto;
}

.cooperative-right {
  background-color: #7BC370;
  width: 19rem;
  height: 34rem;
  color: white;
  padding: 1.25rem;
}
.cooperative-right p {
  line-height: 1.5;
}

.cooperative-below {
  background-color: #7BC370;
  color: white;
  padding: 1.25rem;
  margin: 1.5rem 15rem;
}

@media only screen and (max-width: 1320px) {
  .cooperative .blueheader {
    padding-left: 11rem;
  }
  .cooperative-container {
    padding: 3rem 11rem 0 11rem;
  }
  .cooperative-below {
    margin: 1.5rem 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .cooperative .blueheader {
    padding-left: 5rem;
  }
  .cooperative-container {
    padding: 3rem 5rem 0 5rem;
  }
  .cooperative-below {
    margin: 1.5rem 5rem;
  }
}
@media only screen and (max-width: 1094px) {
  .cooperative-container {
    display: block;
  }
  .cooperative-left {
    width: auto;
    margin-bottom: 2rem;
  }
  .cooperative-right {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 871px) {
  .cooperative .blueheader {
    padding-left: 3rem;
  }
  .cooperative-container {
    padding: 3rem 3rem 0 3rem;
  }
  .cooperative-below {
    margin: 1.5rem 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .cooperative .blueheader {
    padding-left: 1.5rem;
  }
  .cooperative-container {
    padding: 3rem 1.5rem 0 1.5rem;
  }
  .cooperative-below {
    margin: 1.5rem 1.5rem;
  }
}
@media only screen and (max-width: 749px) {
  #cooperative-diagram {
    height: 31rem;
  }
}

@media only screen and (max-width: 601px) {
  #cooperative-diagram {
    height: 27rem;
  }
}

@media only screen and (max-width: 508px) {
  #cooperative-diagram {
    height: 23rem;
  }
}

@media only screen and (max-width: 419px) {
  #cooperative-diagram {
    height: 21rem;
  }
}
@media only screen and (max-width: 365px) {
  #cooperative-diagram {
    height: 19rem;
  }
}

/* Sport Education */
.sported .blueheader {
  padding-left: 15rem;
  padding-top: 3rem;
}

.sported-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 0 15rem;
}

.sported-top {
  width: 60%;
  color: white;
  padding: 0.75rem;
  order: 2;
}

#sported-diagram {
  display: block;
  height: 37rem;
}

.sported-below {
  background-color: #57B6DD;
  width: 17rem;
  color: white;
  padding: 1.25rem;
  order: 1;
  height: 35rem;
}

@media only screen and (max-width: 1320px) {
  .sported .blueheader {
    padding-left: 11rem;
  }
  .sported-container {
    padding: 3rem 11rem 0 11rem;
  }
}
@media only screen and (max-width: 1207px) {
  #sported-diagram {
    height: 34rem;
  }
}

@media only screen and (max-width: 1150px) {
  .sported .blueheader {
    padding-left: 5rem;
  }
  .sported-container {
    padding: 3rem 5rem 0 5rem;
  }
}
@media only screen and (max-width: 1094px) {
  .sported-container {
    display: block;
  }
  .sported-top {
    width: auto;
    margin-bottom: 2rem;
  }
  .sported-below {
    width: auto;
    height: auto;
  }
  #sported-diagram {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 871px) {
  .sported .blueheader {
    padding-left: 3rem;
  }
  .sported-container {
    padding: 3rem 3rem 0 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .sported .blueheader {
    padding-left: 1.5rem;
  }
  .sported-container {
    padding: 3rem 1.5rem 0 1.5rem;
  }
 }
 @media only screen and (max-width: 749px) {
   #sported-diagram {
     height: 27rem;
   }
 }

 @media only screen and (max-width: 601px) {
   #sported-diagram {
     height: 22rem;
   }
 }

 @media only screen and (max-width: 508px) {
   #sported-diagram {
     height: 19rem;
   }
 }
 @media only screen and (max-width: 435px) {
   #sported-diagram {
     height: 17rem;
   }
 }
 @media only screen and (max-width: 400px) {
   #sported-diagram {
     height: 15rem;
   }
 }
 @media only screen and (max-width: 400px) {
   #sported-diagram {
     height: 14rem;
   }
 }
/* Conclusion */
.conclusion {
  background-color: #008CE3;
  color: white;
  margin-top: 2rem;
}

.conclusion-container {
  padding: 1.5rem 15rem 3rem 15rem;
}

@media only screen and (max-width: 1320px) {
  .conclusion-container {
    padding: 1.5rem 11rem 3rem 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .conclusion-container {
    padding: 1.5rem 5rem 3rem 5rem;
  }
}
@media only screen and (max-width: 871px) {
  .conclusion .blueheader {
    display: block;
    height: 2.75rem;
  }
  .conclusion-container {
    padding: 1.5rem 3rem 3rem 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .conclusion-container {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
  }
 }
 @media only screen and (max-width: 623px) {
   .conclusion .blueheader {
     height: 2.5rem;
   }
 }
 @media only screen and (max-width: 547px) {
   .conclusion .blueheader {
     height: 2.25rem;
   }
 }

 @media only screen and (max-width: 476px) {
   .conclusion .blueheader {
     height: 2.1rem;
   }
 }
 @media only screen and (max-width: 439px) {
   .conclusion .blueheader {
     height: 2rem;
   }
 }
 @media only screen and (max-width: 426px) {
   .conclusion .blueheader {
     height: 1.8rem;
   }
 }



/* References */
.references {
  padding: 3rem 16rem;
}

.references h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.references ol {
  list-style-type: decimal;
}

.references ol li {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1150px) {
  .references {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .references {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
