@font-face {
    font-family: 'futura';
    src: url('../fonts/Futura.ttc') format('truetype');
}

@-ms-viewport {
  width: device-width;
}

html {
  font-family: 'futura', sans-serif;
  color: #58595B;
}

body {
  background-color: white;
}

p, ol, li {
  font-size: 1.1rem;
  line-height: 1.2;
}

.blueheader,
.blueheader-desk {
  height: 3.5rem;
}

.blueheader-mob {
  display: none;
}
.orange {
  color: #DE572F;
  text-transform: uppercase;
  font-weight: bold;
}

.orange-lc {
  color: #DE572F;
  font-weight: bold;
}

.gray {
  color: #58595B;
  text-transform: uppercase;
  font-weight: bold;
}

.gray-lc {
  color: #58595B;
  font-weight: bold;
}

.blue-bold {
  color: #008CE3;
  font-weight: 600;
  margin-top: 1.5rem;
}

.lite-blue {
  color: #57B6DD;
  text-transform: uppercase;
  font-weight: bold;
}

.lite-blue-lc {
  color: #57B6DD;
  font-weight: bold;
}

.green {
  color: #D6DA2D;
  text-transform: uppercase;
  font-weight: bold;
}

.orange2 {
  color: #D86C1C;
}

.bold {
  text-transform: uppercase;
  font-weight: bold;
}

.white-lc {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1051px) {
  .blueheader,
  .blueheader-desk {
    height: 3rem;
  }
  p, ol, li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 913px) {
  .blueheader,
  .blueheader-desk {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 547px) {
  .blueheader,
  .blueheader-desk {
    height: 2rem;
  }
  p, ol, li {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 456px) {
  .blueheader-desk {
    display: none;
  }
  .blueheader-mob {
    display: block;
    height: 1.9rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
  }
}
@media only screen and (max-width: 293px) {
  .blueheader-mob {
    height: 1.7rem;
  }
}

/* Motivation-Why */
.motivation {
  background: linear-gradient(#99D1F4, #fff);
}
.motivation .blueheader-desk {
  margin: 2rem 0 1rem 15rem;
}

.motivation-why {
  display: flex;
}

.motivation-why p {
  padding: 1rem 1.5rem 2rem 15rem;
}

#ilovePE {
  height: 12rem;
  margin: 0 15rem 1rem 1rem;
  float: right;
}

.motivation-why-list {
  padding: 1rem 15rem 2rem 15rem;
}

.motivation-why-list ul {
  list-style: disc;
  color: #F29100;
  margin-top: 1rem;
  margin-left: 3rem;
}

.motivation-why-list li {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}
.motivation a:link,
.motivation a:visited,
.motivation a:active {
  color: #008CE3;
  text-decoration: none;
}

.motivation a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1320px) {
  .motivation .blueheader-desk {
    margin-left: 11rem;
  }
  .motivation-why p,
  .motivation-why-list {
    padding-left: 11rem;
  }

  .motivation-why-list {
    padding-right: 11rem;
  }

  #ilovePE {
    margin-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .motivation .blueheader-desk {
    margin-left: 5rem;
  }
  .motivation-why p,
  .motivation-why-list {
    padding-left: 5rem;
  }

  .motivation-why-list {
    padding-right: 5rem;
  }

  #ilovePE {
    margin-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .motivation .blueheader-desk {
    margin-left: 3rem;
  }
  .motivation-why p,
  .motivation-why-list {
    padding-left: 3rem;
  }
  #ilovePE {
    height: 8rem;
    margin-right: 3rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 746px) {
  .motivation-why {
    display: block;
  }
  #ilovePE {
    height: 7rem;
  }
}

@media only screen and (max-width: 766px) {
  .motivation-why {
    width: 100%;
  }
  .motivation .blueheader-desk {
    margin-left: 1.5rem;
  }
  .motivation-why p,
  .motivation-why-list {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .motivation-why p {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 524px) {
  #ilovePE {
    display: block;
    height: 10rem;
    float: none;
    margin: 1rem auto;
  }
}

/* Motivation Types */
.motivation-types {
  background-color: #F7F4F1;
}
.motivation-types a:link,
.motivation-types a:visited,
.motivation-types a:active {
  color: #58595B;
  text-decoration: none;
}

.motivation-types a:hover {
  text-decoration: underline;
}

.motivation-types-p1 {
  display: flex;
  padding: 2rem 15rem 1rem 15rem;
}

.motivation-types-p1 img {
  height: 9rem;
  margin-right: 2rem;
}

.motivation-types-p2 {
  padding: 0 15rem 2rem 15rem;
}
@media only screen and (max-width: 1320px) {
  .motivation-types-p1,
  .motivation-types-p2 {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .motivation-types-p1,
  .motivation-types-p2 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .motivation-types-p1,
  .motivation-types-p2
 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .motivation-types-p1,
  .motivation-types-p2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 690px) {
  .motivation-types-p1 img {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .motivation-types-p1 {
    display: block;
  }
  .motivation-types-p1 img {
    display: block;
    margin: 0 auto;
  }
  .motivation-types-p1 p {
    margin-top: 1rem;
}
}

/* Motivation Table */
.motivation-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motivation-table img {
  height: 44rem;
  margin: 2rem 15rem;
}

#motivation-mob {
  display: none;
}

.motivation-table p {
  align-self: flex-start;
  margin-left: 15rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1455px) {
  .motivation-table img {
    height: 40rem;
  }
}
@media only screen and (max-width: 1352px) {
  .motivation-table img {
    height: 38rem;
  }
}
@media only screen and (max-width: 1320px) {
  .motivation-table p {
    margin-left: 11rem;
}
}
@media only screen and (max-width: 1243px) {
  .motivation-table img {
    height: 39rem;
  }
}

@media only screen and (max-width: 1150px) {
  .motivation-table img {
    height: 36rem;
  }
  .motivation-table p {
    margin-left: 5rem;
}
}
@media only screen and (max-width: 1060px) {
  .motivation-table img {
    height: 33rem;
  }
}
@media only screen and (max-width: 970px) {
  .motivation-table img {
    height: 30rem;
  }
}
@media only screen and (max-width: 871px) {
  .motivation-table p {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 860px) {
  .motivation-table img {
    height: 27rem;
  }
}
@media only screen and (max-width: 766px) {
  .motivation-table p {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .motivation-table img {
    height: 24rem;
  }
}
@media only screen and (max-width: 680px) {
  .motivation-table img {
    height: 21rem;
  }
}
@media only screen and (max-width: 580px) {
  .motivation-table {
    margin-bottom: 0;
    }
  .motivation-table p {
    display: none;
  }
  #motivation1 {
    display: none;
  }
  #motivation-mob {
    display: block;
  }
  .motivation-table img {
    height: 48rem;
  }
}
@media only screen and (max-width: 470px) {
  .motivation-table img {
    height: 44rem;
  }
}
@media only screen and (max-width: 401px) {
  .motivation-table img {
    height: 40rem;
    margin: 2rem auto;
  }
}
@media only screen and (max-width: 368px) {
  .motivation-table img {
    height: 34rem;
  }
}
@media only screen and (max-width: 290px) {
  .motivation-table img {
    height: 32rem;
  }
}
/* Motivation Intro to Target */
.motivation-how {
  background-color: #BED63A;
}
.motivation-how a:link,
.motivation-how a:visited,
.motivation-how a:active {
  color: #58595B;
  text-decoration: none;
}

.motivation-how a:hover {
  text-decoration: underline;
}

.motivation-how p {
  padding: 1.5rem 15rem 1.5rem 15rem;
}

@media only screen and (max-width: 1320px) {
  .motivation-how p  {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .motivation-how p  {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .motivation-how p  {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 547px) {
  .motivation-how p  {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }
}

/* Motivation Table */
.motivation-psych {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motivation-psych img {
  height: 44rem;
  margin: 1rem 15rem 2rem 15rem;
}

#psych-mob {
  display: none;
}

.motivation-psych p {
  align-self: flex-start;
  margin-left: 15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1455px) {
  .motivation-psych img {
    height: 45rem;
  }
}
@media only screen and (max-width: 1352px) {
  .motivation-psych img {
    height: 42rem;
  }
}
@media only screen and (max-width: 1320px) {
  .motivation-psych p {
    margin-left: 11rem;
  }
}
@media only screen and (max-width: 1243px) {
  .motivation-psych img {
    height: 39rem;
  }
}

@media only screen and (max-width: 1150px) {
  .motivation-psych img {
    height: 36rem;
  }
  .motivation-psych p {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 1060px) {
  .motivation-psych img {
    height: 33rem;
  }
}
@media only screen and (max-width: 970px) {
  .motivation-psych img {
    height: 30rem;
  }
}
@media only screen and (max-width: 871px) {
  .motivation-psych p {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 860px) {
  .motivation-psych img {
    height: 27rem;
  }
}
@media only screen and (max-width: 766px) {
  .motivation-psych p {
    margin-left: 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .motivation-psych img {
    height: 24rem;
  }
}
@media only screen and (max-width: 680px) {
  .motivation-psych img {
    height: 23rem;
  }
}
@media only screen and (max-width: 580px) {
  .motivation-psych img {
    height: 55rem;
  }
  #psych-desk {
  display: none;
  }
  #psych-mob {
    display: block;
  }
}
@media only screen and (max-width: 508px) {
  .motivation-psych img {
    height: 50rem;
  }
}
@media only screen and (max-width: 428px) {
  .motivation-psych img {
    height: 35rem;
  }
}
@media only screen and (max-width: 370px) {
  .motivation-psych img {
    height: 32rem;
  }
}

/* Motivation Target */
.motivation-target {
  background-color: #57B6DD;
  color: white;
}

.motivation-target p {
    padding: 2rem 15rem 2rem 15rem;
  }
}

@media only screen and (max-width: 1320px) {
  .motivation-target p {
    padding: 1rem 11rem 0.5rem 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .motivation-target p {
    padding: 1rem 5rem 0.5rem 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .motivation-target p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 766px) {
  .motivation-target p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* Target Table */
.target-table {
  width: 100%;
}
.target-table-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target-table img {
  height: 46rem;
  margin: 1rem 15rem 2rem 15rem;
}

#target-mob {
  display: none;
}

.target-table p {
  padding: 2rem 15rem 1rem 15rem;
}

@media only screen and (max-width: 1455px) {
  .target-table img {
    height: 45rem;
  }
}
@media only screen and (max-width: 1352px) {
  .target-table img {
    height: 42rem;
  }
}
@media only screen and (max-width: 1320px) {
  .target-table p {
    padding: 2rem 11rem 1rem 11rem;
  }
}
@media only screen and (max-width: 1243px) {
  .target-table img {
    height: 39rem;
  }
}

@media only screen and (max-width: 1150px) {
  .target-table img {
    height: 36rem;
  }
  .target-table p {
    padding: 2rem 5rem 1rem 5rem;
  }
}
@media only screen and (max-width: 1060px) {
  .target-table img {
    height: 33rem;
  }
}
@media only screen and (max-width: 970px) {
  .target-table img {
    height: 30rem;
  }
}
@media only screen and (max-width: 871px) {
  .target-table p {
    padding: 2rem 3rem 1rem 3rem;
  }
}
@media only screen and (max-width: 860px) {
  .target-table img {
    height: 27rem;
  }
}
@media only screen and (max-width: 871px) {
  .target-table p {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
}
@media only screen and (max-width: 770px) {
  .target-table img {
    height: 24rem;
  }
}
@media only screen and (max-width: 680px) {
  .target-table img {
    height: 21rem;<img src="./resources/images/motivation/Psych2.png" id="target-desk" alt="Table outlining the four psychological needs: Autonomy, Purpose, Flow, Relatedness"/>
  }
}
@media only screen and (max-width: 580px) {
  #target-desk {
    display: none;
  }
  #target-mob {
    display: block;
  }
  .target-table img {
    height: 62rem;
  }
}
@media only screen and (max-width: 428px) {
  .target-table img {
    height: 50rem;
  }
}
@media only screen and (max-width: 370px) {
  .target-table img {
    height: 45rem;
  }
}
@media only screen and (max-width: 333px) {
  .target-table img {
    height: 39rem;
  }
}

/* Conclusion */
.conclusion {
  background-color: #008CE3;
  color: white;
}
.conclusion a:link,
.conclusion a:visited,
.conclusion a:active {
  color: white;
  text-decoration: none;
}

.conclusion a:hover {
  text-decoration: underline;
}
.conclusion .blueheader {
  padding-left: 15rem;
  padding-top: 2rem;
}

.conclusion-container {
  padding: 2rem 15rem 3rem 15rem;
}

.conclusion a:link,
.conclusion a:visited,
.conclusion a:active {
  color: white;
}
@media only screen and (max-width: 1320px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media only screen and (max-width: 1150px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .conclusion .blueheader,
  .conclusion-container {
    padding-left: 3rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 547px) {
  .conclusion .blueheader {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .conclusion-container {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}



/* References */
.references {
  padding: 3rem 16rem;
}

.references h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.references ol {
  list-style-type: decimal;
}

.references ol li {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1320px) {
  .references {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
@media only screen and (max-width: 1150px) {
  .references {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 871px) {
  .references {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
